
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.menuheader{
  background-color: #eee;
}
.menufooter{
  background-color: #eee;
}

.font-16{
  font-size: 16px;
}
.font-22{
  font-size: 22px;
}
.font-24{
  font-size: 24px;
}
.font-26{
  font-size: 26px;
}

.decoration-none{
  text-decoration: none !important
}

// login page
#loginPage{
  #wrapBoxLogin{
    width: 400px;
    margin: 70px auto;
  }
}